* {box-sizing: border-box;}
.grid-wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.grid-wrapper > div {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;

}.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-logo {
  grid-column: 1;
  grid-row: 1;
}
.grid-menu { 
  grid-column: 2;
  grid-row: 1;
}
.grid-cities {
  grid-column: 1 / 3;
  grid-row: 2;
}
.grid-order {
  grid-column: 2;
  grid-row: 3;
	display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

}
.order-form-17 {
  grid-column: 1 / 2;
}

.grid-why {
	grid-column: 1;
  grid-row: 3;

}
.grid-people {
  grid-column: 1 / 3;
  grid-row: 4;
}

.grid-footer-one {
  grid-column: 1 / 3;
  grid-row: 5;
}



.grid-safetrip {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}

.grid-login {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
	display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.grid-reko {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}
.grid-stader {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)  
{
  .grid-wrapper {
    max-width: 480px;
    margin: 0 auto;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 0px;

  }
  .grid-logo {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-menu { 
    grid-column: 2;
    grid-row: 1;
  }
  .grid-cities {
    grid-column: 1;
    grid-row: 2;
  }
  .grid-order {
    grid-column: 1;
    grid-row: 3;
  	display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }

  .grid-why {
    grid-column: 1;
    grid-row: 4;
  }
  .grid-people {
    grid-column: 1 / 3;
    grid-row: 5;
  }
  
  .grid-footer-one {
    grid-row: 6;
  }




  .grid-safetrip {
    grid-column: 1 / 3;
    grid-row: 2 / 6;
  }
  
  .grid-login {
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .grid-reko {
    grid-column: 1 / 3;
    grid-row: 2 / 6;
  }
  .grid-stader {
    grid-column: 1 / 3;

  }




}
  