.people-container .people-container-container {
  padding: 2em;
  margin: 0.5em;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	
}
.people-container {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.people-container-container {
  width: 10em;
}

.people-container-more {
  width: 5em;
}

.people-img {
  border-radius: 50%;
  width: 100%;
}
.city-container {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
