html {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";}


.order-form-14-info {
  font-size: 12;
}






.grid-cities {
  text-align: center;

}
.grid-cities div > div > p > a{
  text-decoration: none;
}


.order-form-label {
	text-align: right;
}

.grid-why-list {
  list-style: none;
}
.grid-why-list li:before {
  content: '✓';
  color: rgb(0,223,16);
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)  
 {
  .order-form-label {
    text-align: left;
  }
 }